input[type=text], input[type=password]{
	height: 20px;
	width: 200px;
	margin: 0px 16px 0px 0px;
	}
input[type=submit]{
	width: 50px;
	height: 26px;
	text-indent: -9999px;
	border: none;
	padding: 0px 0px 0px 0px;
	}